.chartContainer {
  width: 300px;
  margin: 20px;
}

.title {
  text-align: left;
  color: rgb(107, 107, 107);
  font-weight: 600;
  font-size: 10px;
  font-family: 'Benton Sans Low-DPI', Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  margin-left: 20px;
}

.chart {
  height: 200px;
}
