.chartContainer {
  width: 370px;
  margin: 20px;
}

.title {
  text-align: center;
  color: rgb(107, 107, 107);
  font-weight: 600;
  font-family: 'Benton Sans Low-DPI', Arial, Helvetica, sans-serif;
  margin-bottom: -25px;
}

.subtitle {
  text-align: center;
  font-size: 45px;
  font-family: 'Benton Sans Low-DPI', Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.chart {
  height: 450px;
}
